.hero_section {
  position: relative;
  z-index: 1;

  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.hero_section.bg-img {
  width: 950px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;

  background-color: hsla(230.00000000000003, 47.37%, 7.45%, 1.00);

  text-align: center;
}

.hero_section.bg-img.footer {
  margin-top: 140px;
}

@media screen and (max-width: 991px) {
  .hero_section.bg-img.footer {
    width: 780px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section.bg-img.footer.mob-copyriht {
    width: 450px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.hero_section.bg-img.footer.mob-copyriht.mob-scale-last-hero {
  position: absolute;
  margin-top: 220px;
  background-color: hsla(230.00000000000003, 0.00%, 100.00%, 0.00);
}

@media screen and (max-width: 479px) {
  .hero_section.bg-img.footer.mob-copyriht.mob-scale-last-hero {
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .hero_section.bg-img.tablet-width {
    width: 780px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section.bg-img.tablet-width.mob-section {
    width: 450px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

.hero_section.bg-img.tablet-width.mob-section.mob-scale-section {
  background-color: hsla(230.00000000000003, 0.00%, 100.00%, 0.00);
}

@media screen and (max-width: 479px) {
  .hero_section.bg-img.tablet-width.mob-section.mob-scale-section {
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .hero_section.bg-img.tab-section {
    width: 780px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section.bg-img.tab-section {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section.bg-img.tab-section.mob-hero-last {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.hero_section.bg-img.tab-section.mob-hero-last.mob-scale-hero {
  width: 1160px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: hsla(230.00000000000003, 0.00%, 100.00%, 0.00);
}

@media screen and (max-width: 991px) {
  .hero_section.bg-img.tab-section.mob-hero-last.mob-scale-hero {
    width: 780px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section.bg-img.tab-section.mob-hero-last.mob-scale-hero {
    top: 140%;
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .hero_section.bg-img.tab-section.mob-hero-last.mob-scale-hero {
    width: 300px;
  }
}

.code-embed {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.wrapper {
  display: flex;
  width: 920px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: space-between;
}

@media screen and (min-width: 1920px) {
  .wrapper {
    width: 1540px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    width: auto;
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }
}

.wrapper.about-us {
  height: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .wrapper.about-us.mob-wrapper-pad {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper {
  width: 1000px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper.mob-wrapper {
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper.mob-wrapper.tab-wrapper {
    width: 780px;
  }
}

.wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper.mob-wrapper.tab-wrapper.mobile-about {
  position: absolute;
}

@media screen and (max-width: 991px) {
  .wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper.mob-wrapper.tab-wrapper.mobile-about {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper.mob-wrapper.tab-wrapper.mobile-about {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .wrapper.about-us.mob-wrapper-pad.mob-scale-wrpper.mob-wrapper.tab-wrapper.mobile-about {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper.mobile-landscape {
    flex-direction: column;
    justify-content: center;
  }
}

.hero_left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-gap: 30px;
  line-height: 15px;
}

@media screen and (min-width: 1920px) {
  .hero_left-wrap {
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 991px) {
  .hero_left-wrap {
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hero_left-wrap {
    margin-top: 140px;
  }
}

@media screen and (max-width: 479px) {
  .hero_left-wrap {
    text-align: center;
  }
}

.hero_left-wrap.about-hero {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .hero_left-wrap.about-hero.mob-about-page {
    height: 60vh;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hero_left-wrap.about-hero.mob-about-page.mob-scale-hero-wrap {
    height: 40vh;
  }
}

@media screen and (max-width: 479px) {
  .hero_left-wrap.about-hero.mob-about-page.mob-scale-hero-wrap {
    height: 40vh;
  }
}

@media screen and (max-width: 767px) {
  .hero_left-wrap.mob-scale-hero {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.heading-wrap {
  position: relative;
  width: 340px;
  height: 155px;
  border-radius: 100%;
}

@media screen and (min-width: 1920px) {
  .heading-wrap {
    width: 510px;
    height: 310px;
  }
}

@media screen and (min-width: 1440px) {
  .heading-wrap {
    width: 430px;
    height: 240px;
  }
}

@media screen and (max-width: 991px) {
  .heading-wrap {
    width: 290px;
    height: 140px;
  }
}

@media screen and (max-width: 479px) {
  .heading-wrap {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .heading-wrap.mob-heading {
    width: 200px;
  }
}

@media screen and (max-width: 479px) {
  .heading-wrap.mob-heading.mob-scale-head {
    width: 150px;
  }
}

.paragraph-2 {
  padding-left: 5px;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 25px;
  font-weight: 300;
}

@media screen and (max-width: 479px) {
  .paragraph-2 {
    padding-left: 0px;
    font-size: 20px;
  }
}

.heading {
  position: absolute;
  z-index: 0;

  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Roboto;
  color: hsla(237, 0.00%, 100.00%, 1.00);
  font-size: 4.6em;
  line-height: 1.2;
  font-weight: 300;
}

@media screen and (min-width: 1920px) {
  .heading {
    width: 100%;
    font-size: 7.1em;
    line-height: 1;
  }
}

@media screen and (min-width: 1440px) {
  .heading {
    width: 410px;
    font-size: 5.4em;
  }
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 3em;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 2em;
  }
}

.heading_interaction-wrap {
  position: relative;
  top: 160px;

  display: flex;
  height: 63px;
  margin-top: 20px;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .heading_interaction-wrap {
    top: 212px;
    height: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .heading_interaction-wrap {
    top: 160px;
    height: 80px;
  }
}

@media screen and (max-width: 991px) {
  .heading_interaction-wrap {
    top: 94px;
    height: 50px;
  }
}

@media screen and (max-width: 479px) {
  .heading_interaction-wrap {
    margin-top: 40px;
    text-align: center;
  }
}

.heading_interaction-wrap.margin {
  margin-top: 0px;
}

@media screen and (max-width: 479px) {
  .heading_interaction-wrap.margin.mob-gd2 {
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .heading_interaction-wrap.mob-gd {
    padding-left: 0px;
  }
}

.heading-move {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Roboto;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 4.3em;
  line-height: 1;
}

@media screen and (min-width: 1920px) {
  .heading-move {
    font-size: 7em;
  }
}

@media screen and (min-width: 1440px) {
  .heading-move {
    font-size: 5.3em;
  }
}

@media screen and (max-width: 991px) {
  .heading-move {
    font-size: 3em;
  }
}

.heading-move._1 {
  position: static;
  display: block;
}

.heading-move._1.first-word {
  width: 50px;
}

.heading-move._3 {
  position: static;
  display: block;
  backdrop-filter: none;
}

.heading-move._4 {
  position: static;
  display: block;
  backdrop-filter: none;
}

.heading-move._5 {
  position: static;
  display: block;
  backdrop-filter: none;
}

.heading-move._7 {
  position: static;
  display: block;
  backdrop-filter: none;
}

.heading-move._2 {
  position: static;
}

.paragraph {
  width: 300px;
  margin-top: 140px;
  margin-bottom: 0px;
  padding-top: 40px;

  font-family: Montserrat, sans-serif;
  color: hsla(245, 0.00%, 86.00%, 1.00);
  font-size: 16px;
  line-height: 1.2;
}

@media screen and (min-width: 1920px) {
  .paragraph {
    width: 360px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph {
    width: 360px;
    font-size: 18px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 991px) {
  .paragraph {
    width: 230px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .paragraph {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.paragraph.ui-txt {
  width: auto;
  height: 64px;
  padding: 11px 8px 8px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 6px;

  background-color: hsla(238.60465116279067, 25.15%, 33.53%, 1.00);

  color: hsla(245, 0.00%, 86.67%, 1.00);
  font-size: 11px;
}

@media screen and (min-width: 1920px) {
  .paragraph.ui-txt {
    height: 110px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .paragraph.ui-txt {
    height: 96px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: flex-start;

    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .paragraph.ui-txt {
    font-size: 10px;
  }
}

.paragraph._3rd-para {
  margin-top: 10px;
  padding-top: 20px;
}

@media screen and (max-width: 479px) {
  .paragraph.mob-scale-para {
    width: 150px;
  }
}

.button-wrapper-sticky {
  perspective: 6rem;
}

.button-3 {
  padding: 1rem 3rem;
  cursor: pointer;
  border: 0.125rem solid black;
  border-radius: 0.75rem;

  background-color: hsla(222, 0.00%, 0.00%, 1.00);
  background-image: linear-gradient(180deg, hsla(0, 0.00%, 19.33%, 1.00), hsla(0, 0.00%, 0.00%, 1.00));

  transition: box-shadow 100ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-weight: 600;
  text-align: center;
}

.button-3:hover {
  box-shadow: 0 0 2rem 0.5rem hsla(0, 0.00%, 0.00%, 0.10);
}

.hero_right-wrap {
  position: relative;
  right: -2%;

  display: flex;
  overflow: hidden;
  width: 500px;
  height: 520px;
  margin-top: 200px;
  margin-bottom: auto;
  margin-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
}

@media screen and (min-width: 1920px) {
  .hero_right-wrap {
    transform: scale(0.95);
  }
}

@media screen and (min-width: 1440px) {
  .hero_right-wrap {
    width: 60%;
    transform: scale(0.92);
  }
}

.hero_right-wrap.about-des {
  margin-top: 40px;
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .hero_right-wrap.about-des.mob-about-des {
    width: 300px;
    height: 550px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 991px) {
  .hero_right-wrap.about-des.mob-about-des.mob-scale {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .hero_right-wrap.about-des.mob-about-des.mob-scale {
    height: 300px;
    margin-top: 0px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .hero_right-wrap.about-des.mob-about-des.mob-scale {
    height: 300px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .hero_right-wrap.video-tab {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hero_right-wrap.video-tab {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.hero_right-wrap.video-tab.video-mob {
  background-image: url("https://uploads-ssl.webflow.com/650868580173daefe3e74970/665af7b4fe6a5e1c3a9994e0_Untitled_design__5_-removebg-preview.png");
  background-position: 50% 50%;
  background-size: 650px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hero_right-wrap.video-tab.video-mob {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .hero_right-wrap.video-tab.video-mob {
    width: 250px;
    height: 250px;
  }
}



